/*mobile*/
html{
    -webkit-text-size-adjust : 100%;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin:0;
    background-color:black;
    word-wrap: break-word;
}

main{
    max-width:60em;
    margin:auto;
}
/*top 2 bars*/
nav{
    background-color: black;
    color:white;
    padding:1vmin 0 1vmin 1vmin;
    border-bottom: 1px solid white;
    font-size:1.1em;
}

nav div{
    display: inline-block;
}

/*global tags*/
a{
    text-decoration: none;
    color:white;
}

a:hover, button:hover{
    color:#fd84a9;
    text-decoration: underline;
}

a:active{
    opacity: .9;
}

button{
    border:none;
    background-color: black;
    color:white;
    font-family: "Lato", sans-serif;
    font-size:1em;
    padding:0em;
    line-height: 1.5;
    letter-spacing: 1px;
}

/*content in top bar*/
#logo{
    display: inline-block;
}

#burger{
    display: inline-block;
    float:right;
    position:relative;
    right:1vmin;
}

/*overlay exit*/
.close{
    font-size:30px;
    position:absolute;
    padding:0;
    margin:0;
    line-height: .8;
    top:2vmin;
    right:3vmin;
    
}

.close:hover{
    color:white;
}


/*overlays*/
.overlayContentContainer{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    padding:4vmin ;
    max-width:60em;
    margin:0 auto;
}

.overlayContentContainer a{
    display:block;
    font-size:1.125em;
    width:40%;
    margin:0 auto;
    text-align: left;
    position: relative;
    line-height: 1.125;
    left:.5em;
    color:#fff;
    
}

.overlayContentContainer p{
    width:40%;
    margin:.125em auto;
    text-align: left;
    position: relative;
    line-height: 2;
    left:.5em;
    font-size:1.3em;
    color:#ff2a6b;
}

.overlayContentContainer a:hover{
    color:#fd84a9;
}

#rightContainer{
    float:right;
    position:relative;
    right:1vmin;
}

#rightContainer button{
    margin-left:2vmin;
}

.overlay{
    width:100%;
    height:100%;
    background-color: black;
    position:absolute;
    z-index:1;
    color:white;
    display:none;
    text-align: center;
    overflow: scroll;
    max-width: 60em;
}

#menuOver .overlayRight {
    text-align: left;
    position:relative;
    left:2em;
    margin:.25em auto;
    font-size:1em;
    line-height:1.125;
    color:white;
}

#langOver .overlayContentContainer a, #projectsOver .overlayContentContainer a, #refOver .overlayContentContainer a{
line-height: 2;}

#menuOver a{
    color:#ff2a6b;
}

#menuOver a:hover{
    color:#fd84a9;
}

/*content styling*/
.content{
    color:white;
    background-color: black;
    margin:0 auto;
    border-bottom: 1px solid white;
    padding:0 .5em 1.5em .5em;
}

.content h2{
    font-size:1.35em;
    font-weight: normal;
    margin:.75em 0 .5em 0;
}

.content article{
    line-height: 1.55em;
    font-size:1em;
}

footer{
    width:100%;
    max-width: 60em;
    color:white;
    background-color:black;
    bottom:0;
    line-height: 1em;
    text-align: center;
    font-size:1em;
    padding: 1em 0em 0em 0em;
}