/*mobile*/
html{
    -webkit-text-size-adjust : 100%;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1.25px;
    margin:0;
    background-color:#191919;
    word-wrap: break-word;
}

main{
    max-width:50em;
    margin:auto;
}
/*top 2 bars*/
nav{
    background-color: #191919;
    color:white;
    padding:1vmin 0 1vmin 1vmin;
    border-bottom: 1px solid white;
    font-size:1.1em;
    position: relative;
}

h3{
color:#55d66b;
}

h4{
    color:#55d66b;
}

nav div{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color:#55d66b;

}

/*global tags*/
a{
    text-decoration: none;
    color:white;
}

a:hover, button:hover{
    color:#94f7a4;
    text-decoration: underline;
}

a:active{
    opacity: .9;
}

button{
    border:none;
    background-color: #191919;
    color:white;
    font-family: "Lato", sans-serif;
    font-size:1em;
    padding:0em;
    line-height: 1.5;
    letter-spacing: 1px;
}

/*content in top bar*/
#logo{
    display: inline-block;
}

#burger{
    display: inline-block;
    float:right;
    position: absolute;
    right:1vmin;
    height: 100%;
    top:0;
}

#burger:hover{
    color:#94f7a4;
}
/*overlay exit*/
.close{
    font-size:30px;
    position:absolute;
    padding:0;
    margin:0;
    line-height: .8;
    top:2vmin;
    right:3vmin;
    
}

.close:hover{
    color:white;
}


/*overlays*/
.overlayContentContainer{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    padding:4vmin ;
    max-width:50em;
    margin:0 auto;
}

.overlayContentContainer a{
    display:block;
    font-size:1.125em;
    width:40%;
    margin:0 auto;
    text-align: left;
    position: relative;
    line-height: 1.125;
    left:.5em;
    color:#fff;
    
}

.overlayContentContainer p{
    width:40%;
    margin:.125em auto;
    text-align: left;
    position: relative;
    line-height: 2;
    left:.5em;
    font-size:1.3em;
    color:#55d66b;
}

.overlayContentContainer a:hover{
    color:#94f7a4;
}

#linkContainer{
    width:16em;
    margin:auto;
}

#rightContainer{
    float:right;
    position:relative;
    right:1vmin;
}

#rightContainer button{
    margin-left:2vmin;
}

.overlay{
    width:100%;
    height:100%;
    background-color: #191919;
    position:absolute;
    z-index:1;
    color:white;
    display:none;
    text-align: center;
    overflow: scroll;
    max-width: 50em;
}

#menuOver .overlayRight {
    text-align: left;
    position:relative;
    left:2em;
    margin:.25em auto;
    font-size:1em;
    line-height:1.125;
    color:white;
}

#langOver .overlayContentContainer a, #projectsOver .overlayContentContainer a, #refOver .overlayContentContainer a{
line-height: 2;}

#menuOver a{
    color:#55d66b;
}

#menuOver a:hover{
    color:#94f7a4;
}

/*content styling*/
.content{
    color:white;
    margin:0 auto;
    border-bottom: 1px solid white;
    padding:0 .5em 1.5em .5em;
}

.content h2{
    font-size:1.35em;
    font-weight: normal;
    margin:.75em 0 .5em 0;
}

.content article{
    line-height: 1.55em;
    font-size:1em;
}

footer{
    width:100%;
    max-width: 50em;
    color:#55d66b;
    background-color:#191919;
    bottom:0;
    line-height: 1em;
    text-align: left;
    font-size:1em;
    padding: 1em 0em 0em 0em;
    position: relative;
}

footer a{
    color:#55d66b;
    text-decoration: none;
    margin-left: 1vmin;
    font-size:1.1em;
}

footer p{
    margin-left:1vmin;
}

form{
    color:white;
    display: flex;
    margin:4em auto 4em auto;
    display:table;
}

fieldset{
    display: table;
}

article a{
    color:#55d66b;
}

input{
    display:block;
    width:20em;
    height: 2em;
    margin:auto;
}

textArea{
    display: block;
    width:20em;
    height:20em;
    margin: auto;
}

#abutt{
    color:white;
    background-color: #191919;
    border:1px solid white;
    border-radius: 2em;
    font-family: "Lato", sans-serif;
}

#abutt:hover{
    color:#94f7a4;
    border:1px solid #94f7a4;
}

#abutt:active{
    opacity: .5;
}

#confirmation{
    color:white;
    font-size:16px;
    font-weight: normal;
    text-align:center;
}

#desktopDirectory{
        display:none;
    }

#contactFooter{
    position: relative;
    border-top:1px solid white;
}

.content h2{
    color:#55d66b;
}

#mobileDirectory button{
    color:#55d66b;
}

#mobileDirectory button:hover{
    color:#94f7a4;
}

#socialLinks{
    position: absolute;
    right:1vmin;
    top:1em;
}

#socialLinks img{
    height: 1.75em;
    width:auto;
    padding-left: .125em;
}

#socialLinks img:hover, #socialLinks a:hover{
    opacity: .5;
    text-decoration: none;
}

.burgerBar{
    width:18px;
    height:3px;
    background-color:#55d66b;
    display: block;
    border-radius:9em;
}

#b1, #b2{
    margin-bottom: 3px;
}

#burger:hover .burgerBar{
    background-color: #94f7a4;
}

article img{
    text-align: center;
    max-width:100px;
    height:auto;
}

figure{
    margin:1em auto;
    text-align: center;
    max-width: 90%;
}

figcaption{
    margin-top: 1.5em;
    display: block;
    text-align: left;
}

#groupA{
    margin:auto;
    text-align: center;
}

.optionBlocks{
    width:90px;
    height:90px;
    text-align: center;
    display: table;
    background-color: #55d66b;
    margin:2em;
    border-radius: .75em;
}

.optionBlocks p{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
}

.optionContainer{
    display: inline-block;
}

figure h3{
    margin-bottom: 1.5em;
}

figcaption a{
    color:#55d66b;
}

figure img{
    width:200px;
    height:auto;
}

code{
    word-wrap: break-word;
}
@media screen and (min-width:800px){
    #mobileDirectory{
        display:none;
    }
    
    #desktopDirectory{
        display:block;
    }
        
    .desktopDir{
        display:inline-block;
        margin-right: 2em;
    }
    
    .tier{
        display:none;
    }
    
    .tier li{
        text-align:left;
    }
    
    .tierContainer:hover .tier{
        display:block;
        position:absolute;
        background-color: #191919;
        border:1px solid white;
        top:1em;
        list-style-type: none;
    }
    
    .tierContainer:hover .tier li{
        text-align: left;
        padding:0;
        margin: .5em 1.7em .5em 0;
    }
}
