/*mobile*/
/*css for devices smaller than 700px*/
/*1 x 4 grid (all one column)*/
*{
    padding:0em;
    margin:0em;
}

#top{
    position: sticky;
    top:0;
}

body{
    max-width: 2000px;
    margin: 0% auto;
    font-family: 'Roboto',sans-serif;
}
header {
    height: 4em;
    background-image: url(images/backdrop.jpg);
    background-size: cover;
    text-align: center;
}

header img{
    height: 3em;
    width:auto;
    padding-top:.5em;
}
nav{
    padding: .25em;
    font-size:1.25em;
    text-align: center;
    font-weight: bold;
    background-color: #3c3c3c;
}

nav p{
    display: inline-block;
    margin:.25em 7%;
}

nav a{
    text-decoration: none;
    color:white;
}

nav a:hover{
    opacity: .75;
    transition-delay: 0.1s;
}

nav a:active{
    opacity:.5;
}

section{
    text-align: center;
}


.product{
    margin:3% 1%;
}

.productLogo{
    height:2em;
    margin-top:1em;
}

.productImage{
    height:10em;
    width: auto;
}

.productDescription{
    padding:1%;
    margin:1% 2%;
    font-size:1em;
}

.productsLink{
    margin:1em .5em 0em .5em;
    color: #723072;
}

.productsLink:hover{
    text-decoration: underline;
    cursor:pointer;
}

footer{
    font-size: 1.25em;
    text-align: center;
    color:white;
    background-color: #3c3c3c;
    padding: .25em 0em;
    font-weight: bold;
}

footer p{
    margin: .25em;
}

#spacer{
    width: 100%;
    height: 5em;
}
.productsLink{
    margin-top: 3em;
}

#iPad{
    margin: 10% 10%;
}

#iPadImage{
    height: 14em;
}

#mac{
    margin: 3em 1em;
}

.mobileFooter{
    position: fixed;
    width: 100%;
    bottom:0;
}


/*tablet*/
@media only screen and (min-width: 700px){
/*css for devices with width between 700 and 1024px*/  
/*2x2 grid*/
    header {
        height: 5em;
    }

    header img{
        height: 4em;
    }   

    nav{
        font-size:1.25em;
    }
    
    .product{
        margin:1.25em
    }
    
    .productDescription{
        font-size:1.25em;
        margin-bottom: .5em;
    }
    
    .productsLink{
        margin:3em 1em 0em 1em;
        font-size:1.25em;
    }
    
    .gridContainer{
        display: grid;
        grid-template-columns: auto auto;
        
    }
    
    footer{
        position: fixed;
        width:100%;
        bottom: 0;
    }
    
    #iPadHeader, #macHeader, #iPhoneHeader1,#iPhoneHeader2{
        height:3em;
        width: auto;
        margin:1em;
    }
    
    #iPadImage, #macImage, #iPhoneImage1, #iPhoneImage2{
        height:30em;
        width:auto;
    }
    
    #iPadDescription, #macDescription, #iPhoneDescription1,#iPhoneDescription2 {
        font-size:2em;
        }
    #iPad{
        margin:2%;
    }
    
    
}

/*desktop*/
/*4x1 grid*/ 
@media only screen and (min-width: 1024px){
/*css for devices with width 1024 and above*/ 
    header{
        height: 6em;
    }
    
    header img{
        height: 5em;
    }
    
    .productLogo{
        height: 3em;
    }
    
    .productImage{
        height: 20em;
    }
    
    .productDescription{
        font-size: 1.25em;
        margin: 1em 0em;
        
    }
    
    .productsLink{
        font-size:1.25em;
    }
    
    .gridContainer{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin:5% 0%;
        
    }

}